# ignore anything that isn't expicitly omitted
*

# git
!.gitignore
!.gitconfig
!.gitattributes

# include custom .vscode settings (this is where I version custom vscode settings files that I apply globally)
!.vscode
!.vscode/*

# zsh + profile config & my setup script
!.zshrc
!.profile
!.aliases
!setup.sh

# repo readme
!README.md
